# assets/img/avi.jpg
# assets/img/bg5.jpg
# assets/img/dinesh.jpg 
# assets/img/footer-bg.jpg 
# assets/img/jeya.jpg 
# assets/img/KLNCE Logo.png
# assets/img/kt.jpg 
# assets/img/lakshmi.jpg
# assets/img/qrcode.jpeg 
# assets/img/ramji.jpg
# assets/img/ramqr.png
# assets/img/registrationbox-bg.jpg
# assets/img/schedule-bg-pattern.png
# assets/img/surya.jpg
# assets/img/thanusha.jpg
# assets/img/vlogo.png
*.jpg
*.png
*.jpeg
assets/